<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Add Data
        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#jsonDataModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <span class="clearfix"></span>
    </h3>
  </div>
  <div class="panel-body">
    <pre id="jsonDataOutput">
    </pre>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="jsonDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Json Data</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <form role="form">
                <div class="form-group">
                  <label for="jsonData"></label>
                  <textarea class="form-control" rows="5" id="jsonData"></textarea>
                </div>
            </form>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addJsonData">Add Data</button>
      </div>
    </div>
  </div>
</div>