<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Results
        <button type="button" class="btn btn-default pull-right" id="solve">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <span class="clearfix"></span>
       
    </h3>
  </div>
  <div class="panel-body">
    <table id="dataTable" class="table">
        
    </table>
  </div>
</div>